@charset "utf-8";

* {margin: 0; padding: 0; }
body { font-weight: var(--Font-w300); font-size: var(--Font-size14); font-family: var(--Font-Kr); color: var(--Color-dark-17); }
ol,ul,li {list-style: none; }
button {all: unset; text-align: center; }

/* font */
:root {
  /* color */
  --Color-white: #FFFFFF;
  --Color-main: #FA7D38;
  --Color-red-f8 : #F82D2D;
  --Color-dark-17: #171717;
  --Color-gray-68: #686868;
  --Color-gray-8a: #8A8A8A;
  --Color-gray-e2: #E2E2E2;
  --Color-gray-f1: #F1F1F1;

  /* border */
  --Border-radius80: 80px;
  --Border-radius20: 20px;
  --Border-raidus5: 5px; 

  /* size */
  --h50: 50px;
  --h40: 40px;


  /* font */
  --Font-Kr: 'KIMM';
  --Font-En: 'SpaceGrotesk';
  --Font-size40: 40px;
  --Font-size18: 18px;
  --Font-size16: 16px;
  --Font-size14: 14px; 
  --Font-size12: 12px; 
  --Font-size10: 10px; 

  --Font-w300: 300;
  --Font-w400: 400;
  --Font-w500: 500;
  --Font-w600: 600;
  --Font-w700: 700;

}

.arrow {
  -webkit-mask-image: url("/html/assets/select_arrow.svg"); 
  mask-image: url("/html/assets/select_arrow.svg"); 
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: contain; mask-size: contain;
}

/* ============================================
layout 
===============================================*/

.inner40 {box-sizing: border-box; padding: 0 40px; }
.inner20 {box-sizing: border-box; padding: 0 20px; }

.visuallyhidden {position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; white-space: nowrap; -webkit-clip-path: inset(100%); clip-path: inset(100%); clip: rect(0, 0, 0, 0); overflow: hidden;
}

.header {width: 100%; height: 50px; margin-bottom: 20px; padding: 0 20px; box-sizing: border-box;}
.header .title_box {display: flex; height: 100%; flex-wrap: wrap;  justify-content: flex-start; align-items: center; gap: 0 12px; }
.header .header_back {
  display: block; 
  width: 30px; height: 30px; 
  background-color: var(--Color-dark-17);
  -webkit-mask-image: url("/html/assets/header_back.svg"); 
  mask-image: url("/html/assets/header_back.svg"); 
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: contain; mask-size: contain;
}
.header .header_title {font-weight: var(--Font-w300); font-size: var(--Font-size18); }


/* ============================================
common 
===============================================*/





.button_group {margin-top: 40px;}
.button_group .btn + .btn {margin-top: 8px; }

/* button  */
.btn {position: relative; display: block; padding: 0 20px; box-sizing: border-box; }

.btn.bg_fill {background-color: var(--Color-main); }
.btn.bg_fill i {background-color: var(--Color-white); }
.btn.bg_fill .btn_txt {color: var(--Color-white);}

.btn.border_fill {border: 1px solid var(--Color-main); }
.btn.border_fill .btn_txt {color: var(--Color-main);}
.btn.border_fill i {background-color: var(--Color-main); }


.btn.full {width: 100%; }
.btn.h50 {height: var(--h50); box-sizing: border-box; border-radius: var(--Border-radius20); font-size: 18px; line-height: 48px; }

.btn_txt {display: block; text-align: center; }
.btn_txt.bold {font-weight: var(--Font-w700); }
.btn_txt.font18 {font-size: var(--Font-size18); }


/* button + icon */
.btn.spnew i {
  position: absolute;
  right: 20px; top: 50%;
  width: 14px; height: 10px;
  -webkit-mask-image: url("/html/assets/spnew.svg"); 
  mask-image: url("/html/assets/spnew.svg"); 
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: contain; mask-size: contain;
  transform: translateY(-50%);
}


/* form */
input::placeholder {color: var(--Color-gray-8a); opacity: 1;}
input::-webkit-input-placeholder, input:-ms-input-placeholder,
input:-mos-input-placeholder {color: var(--Color-gray-8a);}

input:placeholder-shown {text-overflow: ellipsis; }
input:read-only, input.readonly,
input:disabled, input.disabled {background-color: var(--Color-gray-f1); border-color: var(--Color-gray-8a); outline: none;}



.form_dl {display: flex; flex-wrap: wrap; align-items: center; }
.form_dl.half {}
.form_dl {margin-top: 24px; }
.form_dl.full > * {flex-basis: 100%;}


.form_dl label {display: block; width: 100%; margin-bottom: 8px; padding: 0 2px; color: var(--Color-dark-17); font-weight: normal; font-size: var(--Font-size14); text-align: left; }
.form_input {width: 100%; height: var(--h50); padding: 0 16px; box-sizing: border-box; border-radius: var(--Border-raidus5); border: 1px solid var(--Color-gray-e2); background-color: var(--Color-white); line-height: 48px; }
.form_input + .error_msg {padding: 2px; font-size: var(--Font-size10); line-height: 1.5; color: var(--Color-red-f8); }
.form_input:has(~ .error_msg) {border-color: var(--Color-main); }
.form_input.full {width: 100%; }
.shown_msg {padding: 2px; font-size: var(--Font-size10); line-height: 1.5; color: var(--Color-gray-68);}

/*
.form_dl input:placeholder-shown + .shown_msg {
 display: none;
} */


.form_input:hover {border-color: var(--Color-main); outline: none; }


.dis_grid {display: grid; grid-template-columns: 1fr 20px 1fr; justify-items: stretch; align-items: end; }
.dis_grid + .dis_grid {margin-top: 24px; }
.dis_grid .form_dl {margin-top: 0; }
.dis_grid .form_dl:nth-child(2) {order:3; }
.dis_grid .mark {order:2; display: block; margin-top: 24px; height: 50px; line-height: 50px; font-size: var(--Font-size14); color: var(--Color-dark-17); font-family: var(--Font-En); text-align: center; }

.dis_grid .memo {margin-top: 4px; order:4; grid-column: 1 / 4; }


/* select */
.select_group {position: relative; width: 100%; }
.select {position: relative; display: block; width: 100%; padding: 0 16px; box-sizing: border-box; border: 1px solid var(--Color-gray-e2); border-radius: var(--Border-raidus5); background-color: var(--Color-white); outline: none;  text-align: left;}

.select:focus,
.select.actve {border-color: var(--Color-main);}
.select:focus .arrow {transform: translateY(-50%) rotate(180deg) }

.select span {font-size: var(--Color-dark-17); font-size: var(--Font-size12); }
.select i {  
  position: absolute; 
  top: 50%; right: 16px; 
  display: block; 
  width: 10px; height: 8px;
  background-color: var(--Color-dark-17);
  transform: translateY(-50%);
}
.option_list {display: none; position: absolute; left: 0; z-index: 1; width: 100%; height: auto; max-height: 120px; box-sizing: border-box; border: 1px solid var(--Color-gray-e2); border-radius: var(--Border-raidus5); background-color: var(--Color-white); overflow-x: hidden; overflow-y: auto; }
.option_list .option {display: block; padding: 8px 16px; color: var(--Color-dark-68); font-size: var(--Font-size12); font-weight: var(--Font-w300); }
.option_list .option:hover,
.option_list .option.active  {color:var(--Color-main); }


.form_dl .select {height: var(--h50); }
.form_dl .option_list {top: 58px; }
.form_dl.email .select,
.form_dl.email .option_list {font-family: var(--Font-En); }

.select:focus + .option_list,
.select.active + .option_list {display: block; }


/* ================================== 
loin css 
====================================*/

.big_banner {position: relative; padding: 60px 40px 120px 60px; box-sizing: border-box; border-top-left-radius: var(--Border-radius80); border-top-right-radius: var(--Border-radius80); border-bottom-left-radius: var(--Border-radius80); background-color: var(--Color-main);}
.big_banner .logo {}
.big_banner h2 {color: var(--Color-dark-17); font-size: var(--Font-size40); font-weight: var(--Font-w700); }
.big_banner p {margin-top: 8px; color: var(--Color-dark-17); font-size: var(--Font-size16); }
.big_banner img {position: absolute; bottom: -54px; left: 47px; }


.find_pw {display: block; margin-top: 8px; font-size: var(--Font-size10); color: var(--Color-gray-68); text-align: center; }

.login .slider_wrap {padding-top: 32px; }


/* login form 노출효과 */
.slider_wrap {max-width: 1200px; overflow: hidden; margin: 0 auto; }
.slide_list {white-space: nowrap; font-size: 0;}
.slide_list > li {display: inline-block;  vertical-align:middle;width:100%;transition:all .5s;}


input[id="slide"]:checked ~ .slider_wrap .slide_list > li {transform:translateX(-100%);}



/* ===================================== 
  policy 
=======================================*/
/* 제  ?장 */
.policy_cont .chapter {counter-reset: period; }
.policy_cont .chapter > li {counter-increment: period; font-size: var(--Font-size14); color: var(--Color-main);}
.policy_cont .chapter > li:before {content: "제 " counter(period)"장"; margin-right: 5px; font-size: var(--Font-size14); color: var(--Color-main); }

/* 제 ?조 */
.policy_cont .article {counter-reset: period; }
.policy_cont .article > li {counter-increment: period; }
.policy_cont .article > li:before {content: "제 " counter(period)" 조"; font-size: var(--Font-size12); color: var(--Color-gray-68); font-weight: var(--Font-w700)} 

/* 넘버림 없애기 */
.policy_cont .clear  {counter-reset: none !important; }
.policy_cont .clear:before {content: "" !important; margin: 0 !important; }


/* style 
---------------------- */
.policy_cont .policy_category li {margin-bottom: 40px; }

.policy_cont .depth_category li {color: var(--Color-gray-68); font-size: var(--Font-size12); font-weight: var(--Font-w700)}
.policy_cont .depth_category li {margin-top: 24px;}
.policy_cont .depth_category p {margin-top: 4px; color: var(--Color-gray-68); font-size: var(--Font-size10); line-height: 1.5; font-weight: var(--Font-w300)}


/* ===================================
  confrim 
====================================*/
.layer {position:fixed; top:0; left: 0; width: 100%; height: 100%; background-color: #000; /* filter: opacity(40%); */ }

.layer .layer_cont {position: absolute; top: 50%; left: 50%; width: calc(100% - 40px); padding: 0 20px 20px; box-sizing: border-box; border-radius: var(--Border-raidus5); background-color: var(--Color-white); transform: translate(-50%, -50%); }

.layer .layer_body {padding-top: 40px; text-align: center; }

.layer .layer_foot {display: flex; justify-content: space-evenly; gap: 0 8px; margin-top: 50px; }
.layer .layer_foot .btn.h40 {height: var(--h40);}
.layer .layer_foot .btn.h40  .btn_txt {font-size: var(--Font-size14)}

.layer .layer_foot .btn {width: 100%; border-radius: var(--Border-radius20);}
.layer .layer_foot .btn + .btn {background-color: var(--Color-gray-f1); }

.layer .layer_foot .btn + .btn > .btn_txt {color: var(--Color-gray-68); }


.confrim .layer_header {height: 50px; }
.confrim .layer_header h2 {padding-top: 15px; color: var(--Color-dark-17); font-size: var(--Font-size18); font-weight: var(--Font-w700); }
.confrim .layer_foot .btn {max-width: 140px; }

/* ================================== 
join css 
====================================*/
.agree_cont {margin-top: 24px; }
.agree_cont > h3 {margin-bottom: 8px; font-size: var(--Font-size14); color: var(--Color-dark-17); font-weight: var(--Font-w300);}


/* checkbox */
.checkbox {position: relative; display: block; padding-left: 26px; cursor: pointer;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.checkbox label {font-size: var(--Font-size12); color: var(--Color-dark-17);}
.checkbox .chkbox_input {display: none; } 
.checkbox .chkbox_input + label {margin-left: 8px; } 

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.checkbox .on {position: absolute; top: 2px; left: 0; width: 20px; height: 20px; box-sizing: border-box; border: 1px solid var(--Color-gray-e2); border-radius: 0; background: var(--Color-white);  }
.checkbox .on:after {content: ''; position: absolute; top: 4px; left: 3px; width: 8px; height: 4px; transform: rotate(-45deg);}

/* 선택된 체크박스 스타일 꾸미기 */
.checkbox .chkbox_input:checked + .on {background-color: red;}
.checkbox .chkbox_input:checked + .on:after {border-color: var(--Color-main); }




