@charset "utf-8";

html, body, * {margin: 0; padding: 0; }
body { font-weight: var(--Font-w300); font-size: var(--Font-size14); font-family: var(--Font-Kr); color: var(--Color-dark-17); }
ol,ul,li {list-style: none; }
button, input, select, textarea {all: unset; text-align: center; -moz-appearance:none;-webkit-appearance:none; appearance:none; }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-moz-appearance:none;-webkit-appearance:none;appearance:none;}
a {text-decoration: none; color: inherit}
em {font-style:normal; }

/* font */
:root {
  /* color */
  --Color-white: #FFFFFF;
  --Color-main: #FA7D38;
  --Color-purple-3f: #3F34C0;
  --Color-purple-61: #6153FF;
  --Color-purple-65: #6558F5;
  --Color-red-f8 : #F82D2D;
  --Color-red-f6 : #F64848;
  --Color-dark-17: #171717;
  --Color-dark-24: #242424;
  --Color-gray-49 : #494949;
  --Color-gray-68: #686868;
  --Color-gray-8a: #8A8A8A;
  --Color-gray-e2: #E2E2E2;
  --Color-gray-f1: #F1F1F1;

  /* border */
  --Border-radius80: 80px;
  --Border-radius20: 20px;
  --Border-raidus5: 5px; 

  /* size */
  --h60: 60px;
  --h50: 50px;
  --h40: 40px;


  /* font */
  --Font-Kr: 'KIMM';
  --Font-En: 'SpaceGrotesk';
  --Font-size40: 40px;
  --Font-size18: 18px;
  --Font-size16: 16px;
  --Font-size14: 14px; 
  --Font-size12: 12px; 
  --Font-size10: 10px; 

  --Font-w300: 300;
  --Font-w400: 400;
  --Font-w500: 500;
  --Font-w600: 600;
  --Font-w700: 700;

}

.arrow {
  -webkit-mask-image: url("/html/assets/select_arrow.svg"); 
  mask-image: url("/html/assets/select_arrow.svg"); 
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: contain; mask-size: contain;
}

.x {
  -webkit-mask-image: url("/html/assets/btn_x.svg"); 
  mask-image: url("/html/assets/btn_x.svg"); 
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: contain; mask-size: contain;
}

/* ============================================
layout 
===============================================*/

.inner40 {box-sizing: border-box; padding: 0 40px; }
.inner20 {box-sizing: border-box; padding: 0 20px; }

.visuallyhidden {position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; white-space: nowrap; -webkit-clip-path: inset(100%); clip-path: inset(100%); clip: rect(0, 0, 0, 0); overflow: hidden;
}

#root {background-color: #f7f8f9; }
#wrapper {display: grid; align-content: stretch; align-items: stretch; max-width: 375px; margin: 0 auto; box-shadow:rgba(0, 0, 0, 0.16) 0px 0px 8px; background-color: var(--Color-white); }

.header {width: 100%; height: 50px; padding: 0 20px; box-sizing: border-box;}
.header .title_box {display: flex; height: 100%; flex-wrap: wrap;  justify-content: flex-start; align-items: center; gap: 0 12px; }
.header .header_back {
  display: block; 
  width: 30px; height: 30px; 
  background-color: var(--Color-dark-17);
  -webkit-mask-image: url("/html/assets/header_back.svg"); 
  mask-image: url("/html/assets/header_back.svg"); 
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: left center; mask-position: left center; -webkit-mask-size: 7px 10px; mask-size: 7px 10px;
}
.header .header_title {font-weight: var(--Font-w300); font-size: var(--Font-size18); }
.container {position: relative; align-self: stretch; height: 100vh; }
.container > section:first-child:not(.big_banner) {padding-top: 20px; }

/* ============================================
common 
===============================================*/





.button_group {margin-top: 40px;}
.button_group .btn + .btn {margin-top: 8px; }

/* button  */
.btn {position: relative; display: block; padding: 0 20px; box-sizing: border-box; }

.btn.bg_fill {background-color: var(--Color-main); }
.btn.bg_fill i {background-color: var(--Color-white); }
.btn.bg_fill .btn_txt {color: var(--Color-white);}

.btn.border_fill {border: 1px solid var(--Color-main); }
.btn.border_fill .btn_txt {color: var(--Color-main);}
.btn.border_fill i {background-color: var(--Color-main); }


.btn.full {width: 100%; }
.btn.h50 {height: var(--h50); box-sizing: border-box; border-radius: var(--Border-radius20); font-size: 18px; line-height: 48px; }
.btn.h60 {height: var(--h60); box-sizing: border-box; border-radius: var(--Border-radius20); font-size: 18px; line-height: 58px;}

.btn_txt {display: block; text-align: center; }
.btn_txt.bold {font-weight: var(--Font-w700); }
.btn_txt.font18 {font-size: var(--Font-size18); }
.btn_txt.font14 {font-size: var(--Font-size14); }

.uppercase {text-transform: uppercase; }

/* button + icon */
.btn.spnew i {
  position: absolute;
  right: 20px; top: 50%;
  width: 14px; height: 10px;
  -webkit-mask-image: url("/html/assets/spnew.svg"); 
  mask-image: url("/html/assets/spnew.svg"); 
  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: contain; mask-size: contain;
  transform: translateY(-50%);
}


/* form */
input::placeholder {color: var(--Color-gray-8a); opacity: 1;}
input::-webkit-input-placeholder, input:-ms-input-placeholder,
input:-mos-input-placeholder {color: var(--Color-gray-8a);}

input:placeholder-shown {text-overflow: ellipsis; }
input:read-only, input.readonly,
input:disabled, input.disabled {background-color: var(--Color-gray-f1); border-color: var(--Color-gray-8a); outline: none;}



.form_dl {display: flex; flex-wrap: wrap; align-items: center; }
.form_dl.half {}
.form_dl {margin-top: 24px; }
.form_dl.full > * {flex-basis: 100%;}


.form_dl label {display: block; width: 100%; margin-bottom: 8px; padding: 0 2px; color: var(--Color-dark-17); font-weight: normal; font-size: var(--Font-size14); text-align: left; }
.form_input {width: 100%; height: var(--h50); padding: 0 16px; box-sizing: border-box; border-radius: var(--Border-raidus5); border: 1px solid var(--Color-gray-e2); background-color: var(--Color-white); line-height: 48px; }
.form_input + .error_msg {padding: 2px 4px 0; font-size: var(--Font-size10); line-height: 1.5; color: var(--Color-red-f8); }
.form_input:has(~ .error_msg) {border-color: var(--Color-main); }
.form_input.full {width: 100%; }
.shown_msg {padding: 2px 4px 0; font-size: var(--Font-size10); line-height: 1.5; color: var(--Color-gray-68);}

/*
.form_dl input:placeholder-shown + .shown_msg {
 display: none;
} */


.form_input:hover {border-color: var(--Color-main); outline: none; }


.dis_grid {display: grid; grid-template-columns: 1fr 20px 1fr; justify-items: stretch; align-items: end; }
.dis_grid + .dis_grid {margin-top: 24px; }
.dis_grid .form_dl {margin-top: 0; }
.dis_grid .form_dl:nth-child(2) {order:3; }
.dis_grid .mark {order:2; display: block; margin-top: 24px; height: 50px; line-height: 50px; font-size: var(--Font-size14); color: var(--Color-dark-17); font-family: var(--Font-En); text-align: center; }

.dis_grid .memo {margin-top: 4px; order:4; grid-column: 1 / 4; }


/* select */
.select_group {position: relative; width: 100%; }
.select {position: relative; display: block; width: 100%; padding: 0 16px; box-sizing: border-box; border: 1px solid var(--Color-gray-e2); border-radius: var(--Border-raidus5); background-color: var(--Color-white); outline: none;  text-align: left;}

.select:focus,
.select.actve {border-color: var(--Color-main);}
.select:focus .arrow {transform: translateY(-50%) rotate(180deg) }

.select span {font-size: var(--Color-dark-17); font-size: var(--Font-size12); }
.select i {  
  position: absolute; 
  top: 50%; right: 16px; 
  display: block; 
  width: 10px; height: 8px;
  background-color: var(--Color-dark-17);
  transform: translateY(-50%);
}
.option_list {display: none; position: absolute; left: 0; z-index: 1; width: 100%; height: auto; max-height: 120px; box-sizing: border-box; border: 1px solid var(--Color-gray-e2); border-radius: var(--Border-raidus5); background-color: var(--Color-white); overflow-x: hidden; overflow-y: auto; }
.option_list .option {display: block; padding: 8px 16px; color: var(--Color-dark-68); font-size: var(--Font-size12); font-weight: var(--Font-w300); }
.option_list .option:hover,
.option_list .option.active  {color:var(--Color-main); }


.form_dl .select {height: var(--h50); }
.form_dl .option_list {top: 58px; }
.form_dl.email .select,
.form_dl.email .option_list {font-family: var(--Font-En); }

.select:focus + .option_list,
.select.active + .option_list {display: block; }


/* ================================== 
loin css 
====================================*/

.big_banner {position: relative; padding: 60px 40px 120px 60px; box-sizing: border-box; border-top-left-radius: var(--Border-radius80); border-top-right-radius: var(--Border-radius80); border-bottom-left-radius: var(--Border-radius80); background-color: var(--Color-main);}
.big_banner .logo {
  display: block;
  width: 50px; height: 26px; 
  background-image: url(/html/assets/logo.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.big_banner h2 {color: var(--Color-dark-17); font-size: var(--Font-size40); font-weight: var(--Font-w700); }
.big_banner p {margin-top: 8px; color: var(--Color-dark-17); font-size: var(--Font-size16); line-height: 1.3; }
.big_banner img {position: absolute; bottom: -54px; left: 47px; }


/*
.find_pw {font-size: var(--Font-size10); color: var(--Color-gray-68); text-align: center; } */

.login .slider_wrap {padding-top: 32px; }

.login .login_into {position: absolute; top: 0; left: 0; width: 100%; }
.login .login_into .button_group {padding-top: 0; }

/* login form 노출효과 */
.slider_wrap {max-width: 1200px; overflow: hidden; margin: 0 auto; }
.slide_list {position: relative; white-space: nowrap; font-size: 0;}
.slide_list > li {display: inline-block;  vertical-align:top;width:100%;transition:all .5s;}


input[id="slide"]:checked ~ .slider_wrap .slide_list > li {transform:translateX(-100%);}



/* ===================================== 
  policy 
=======================================*/
/* 제  ?장 */
.policy_cont .chapter {counter-reset: period; }
.policy_cont .chapter > li {counter-increment: period; font-size: var(--Font-size14); color: var(--Color-main);}
.policy_cont .chapter > li:before {content: "제 " counter(period)"장"; margin-right: 5px; font-size: var(--Font-size14); color: var(--Color-main); }

/* 제 ?조 */
.policy_cont .article {counter-reset: period; }
.policy_cont .article > li {counter-increment: period; }
.policy_cont .article > li:before {content: "제 " counter(period)" 조"; font-size: var(--Font-size12); color: var(--Color-gray-68); font-weight: var(--Font-w700)} 

/* 넘버림 없애기 */
.policy_cont .clear  {counter-reset: none !important; }
.policy_cont .clear:before {content: "" !important; margin: 0 !important; }


/* style 
---------------------- */
.policy_cont .policy_category li {margin-bottom: 40px; }

.policy_cont .depth_category li {color: var(--Color-gray-68); font-size: var(--Font-size12); font-weight: var(--Font-w700)}
.policy_cont .depth_category li {margin-top: 24px;}
.policy_cont .depth_category p {margin-top: 4px; color: var(--Color-gray-68); font-size: var(--Font-size10); line-height: 1.5; font-weight: var(--Font-w300)}

.policy_cont {height: calc(100vh - 160px); overflow-y: auto; overflow-x: hidden; }
.policy_cont + .button_group {margin-top: 0; padding-top: 20px; } 

/* ===================================
  confrim 
====================================*/
.dialog {margin: auto; border: 0; background-color: transparent; padding: 8px 0; }
.dialog .dialog_wrap {position: relative; width: 100%;  padding: 0 20px 20px; box-sizing: border-box; border-radius: var(--Border-raidus5);background-color: var(--Color-white);}
dialog::backdrop {background-color: rgba(0,0,0,0.5);}

.dialog .dialog_header {position: relative;}
.dialog .dialog_header h2 {padding-top: 15px; color: var(--Color-dark-17); font-size: var(--Font-size18); font-weight: var(--Font-w700); }
.dialog .dialog_header .dialog_close {position: absolute; top: 10px; right: 0; width: 30px; height: 30px; -webkit-mask-size: 10px 10px; mask-size: 10px 10px; background-color: var(--Color-dark-17); }
.dialog .dialog_body {padding-top: 40px; text-align: center; }

.dialog .dialog_foot {display: flex; justify-content: space-evenly; gap: 0 8px; margin-top: 50px; }
.dialog .dialog_foot .btn {min-width: 140px; border-radius: var(--Border-radius20);}
.dialog .dialog_foot .btn.h40 {height: var(--h40);}
.dialog .dialog_foot .btn.h40  .btn_txt {font-size: var(--Font-size14)}

.dialog .dialog_foot .btn + .btn {background-color: var(--Color-gray-f1); }
.dialog .dialog_foot .btn + .btn > .btn_txt {color: var(--Color-gray-68); }


/* confrim */
.confrim .dialog_header {height: 50px; }

/* modal */
.modal .dialog_wrap {border-radius: var(--Border-radius20); background-color: var(--Color-purple-3f); }
.modal .dialog_body h2 {margin-bottom: 8px; text-align: left; color: var(--Color-white); font-weight: var(--Font-w700); font-size: 18px; line-height: 26px;  }
.modal .dialog_body p {color: var(--Color-white); font-size: 12px; line-height: 1.3; text-align:left; }
.modal .dialog_body p + p {margin-top: 25px;}
.modal .dialog_foot {margin-top: 32px; }
.modal .dialog_foot .btn + .btn {background-color: var(--Color-white); }
.modal .dialog_foot .btn.border_fill {border-color: var(--Color-white); }
.modal .dialog_foot .btn.border_fill .btn_txt {color: var(--Color-white); }
.modal .dialog_foot .btn_txt {font-size: var(--Font-size14); }
.modal .dialog_foot .btn.bg_fill .btn_txt {color: var(--Color-purple-3f); }

/* tutotials */
.tutotials .dialog_wrap {border-radius: var(--Border-radius20); }
.tutotials .dialog_header h2 {padding-top: 20px;}
.tutotials .dialog_header .dialog_close {top: 15px; }
.tutotials .dialog_body {padding-top: 8px; }
.tutotials .dialog_body p {text-align: left; font-size: 12px; color: var(--Color-gray-8a); line-height: 1.5; }
.tutotials .dialog_foot {margin-top: 24px; justify-content: flex-end;}
.tutotials .dialog_foot .bg_fill {min-width: 70px; height:30px;  background-color: var(--Color-purple-65); }
.tutotials .dialog_foot .btn .btn_txt {color: var(--Color-white); font-size: 12px; }
.tutotials .icon_direction {position: absolute; display:block; width: 0; height: 0; border-bottom: 8px solid var(--Color-white); border-left: 6px solid transparent; border-right: 6px solid transparent; }
.tutotials .icon_direction.top {top: 0;}
.tutotials .icon_direction.bottom {bottom: 0; transform: rotate(-180deg); }
.tutotials .icon_direction.left {left: 65px;}
.tutotials .icon_direction.right {right: 56px;}

/* ================================== 
join css 
====================================*/
.agree_cont {margin-top: 24px; }
.agree_cont > h3 {margin-bottom: 8px; font-size: var(--Font-size14); color: var(--Color-dark-17); font-weight: var(--Font-w300);}

/* checkbox  */
.checkbox {position: relative; display: block; padding-left: 26px; cursor: pointer;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.checkbox label {font-size: var(--Font-size12); color: var(--Color-dark-17);}
.checkbox .chkbox_input {display: none; } 
.checkbox .chkbox_input + label {margin-left: 8px; } 

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.checkbox .on {position: absolute; top: 2px; left: 0; width: 20px; height: 20px; box-sizing: border-box; border: 1px solid var(--Color-gray-e2); border-radius: 0; background: var(--Color-white);  }
.checkbox .on:after {content: ''; position: absolute; top: 4px; left: 3px; width: 8px; height: 4px; transform: rotate(-45deg);}  

/* 선택된 체크박스 스타일 꾸미기 */
.checkbox .chkbox_input:checked + .on {background-color: red;}
.checkbox .chkbox_input:checked + .on:after {border-color: var(--Color-main); } 




/* ==============================
find pw
=============================== */
.certify_form {display: flex; flex-wrap: wrap; margin-top: 8px; }
.certify_form .certify_input {max-width: 120px; height: var(--h50); padding: 0 15px; box-sizing: border-box; border: 1px solid var(--Color-gray-8a); border-radius: var(--Border-raidus5); line-height: 48px; font-family: var(--Font-En); color: var(--Color-dark-17); }
.certify_form .certify_btn {width: calc(100% - 128px); margin-left: 8px; height: var(--h50); box-sizing: border-box; background-color: var(--Color-gray-49); border-radius: var(--Border-raidus5); line-height: 48px; color: var(--Color-white); font-size: 14px; font-weight: var(--Font-w300); }
.certify_form .msg {margin-top: 4px; text-align: right; flex-grow: 1 }
.certify_form .error_msg {padding: 2px 4px 0; font-size: var(--Font-size10); line-height: 1.5; color: var(--Color-red-f8);}

.find_pw .change_form .shown_msg {text-align: right; }



/* main */
.calendar {position: relative; display: flex; flex-wrap: wrap; justify-content: flex-end; margin-top: -80px; }
.calendar .box {display: block; width: 160px; height: 160px; padding: 50px 20px 0; box-sizing: border-box; background-color: var(--Color-dark-24); border-radius: var(--Border-radius20);} 

.calendar:before {content: ''; display: block; position: absolute; top: -14px; right: 0; width: 160px; height: 40px; z-index: 1; background-image:url(/html/assets/calendar_hd.svg); background-repeat: no-repeat; background-size: 100% auto; background-position: top left; }
.calendar p {font-size: 14px; color: #fff; }
.calendar .count {display:block; margin-top: 15px; font-size: 32px; color: #fff; font-weight: var(--Font-w700); }

.category {display: flex; flex-wrap: wrap; justify-content: space-between; gap: 16px 0px; margin-top: 16px; }
.category li {width: 160px; height: 160px; aspect-ratio: 1/1; padding: 30px 20px; border-radius: var(--Border-radius20); box-sizing: border-box; background-repeat: no-repeat; background-size: 24px 24px; background-position: bottom 30px left 20px; color: var(--Color-white); text-align: right; font-size: 32px; text-wrap: wrap; font-weight: var(--Font-w700); line-height: 1.2; }
.category li:nth-child(even) {text-align: left; background-position: bottom 30px right 20px;}
.category li a {display: block; width: 100%; height: 100%; }
.category li.word {background-color: var(--Color-purple-61); background-image: url('/html/assets/book.svg')}
.category li.exam {background-color: var(--Color-main); background-image: url('/html/assets/exam.svg')}
.category li.result {background-color: var(--Color-red-f6); background-image: url('/html/assets/flag.svg')}








/* fance */
.fance_wrap {position:relative; padding-top: 47px; }
.fance { height: 100%; border-top-left-radius: var(--Border-radius80); border-top-right-radius: var(--Border-radius80); background-color: var(--Color-main);}
.fance_wrap:after {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 120px; background-image: url('/html/assets/dubuck.png'); background-repeat: no-repeat; background-position: top center;background-size: contain; }

.fance_x {height: calc(100vh - 97px); padding-top: 106px; background-color: var(--Color-main); background-image: url('/html/assets/dubuck.png'); background-repeat: no-repeat; background-position: top center; text-align: center; background-size: 158px 120px;}
.fance_o {height: calc(100vh - 97px); padding-top: 106px; box-sizing: border-box; border-top-left-radius: var(--Border-radius80); border-top-right-radius: var(--Border-radius80); background-color: var(--Color-main);  }

.fance .questions {padding-top: 106px; text-align: center; color: var(--Color-white); font-size: 18px;}
.questions .questions_input {width: 40px; padding: 0 4px; font-size: 18px; color: var(--Color-white); text-align: center; border-bottom: 1px solid #fff; }
.questions p {margin-top:8px; }

.fance .button_group {margin-top: 18 px; }
.fance .button_group .btn {max-width: 270px; margin: 0 auto; }
.fance .button_group .btn + .btn {margin-top: 8px; }
.fance .button_group .btn.bg_fill {background-color: var(--Color-white);}
.fance .button_group .btn.bg_fill .btn_txt {color: var(--Color-main); }
.fance .button_group .btn.border_fill {border-color: var(--Color-white); }
.fance .button_group .btn.border_fill .btn_txt {color: var(--Color-white); }
.fance .button_group .btn .btn_txt {font-weight: var(--Font-w700); }


/* fance_wrap.v2 */
.fance_wrap.v2 {padding: 0 20px 0; }
.fance_wrap.v2:after {content: ''; width: 0; background-image: none; }  
.fance_wrap.v2 .fance {padding: 60px 32px 0; border-radius: var(--Border-radius20); }
.fance_wrap.v2 .tit {display: inline-block; padding-right: 34px; background-image: url('/html/assets/small_dubuck.svg'); background-repeat: no-repeat; background-position: right bottom 17px; background-size: 40px 40px; font-size: 24px; color: var(--Color-white); font-weight: var(--Font-w700); line-height: 32px; }
.fance_wrap.v2 .desc {margin-top: 22px; font-size: 14px; color: var(--Color-white); line-height: 18px; }


.challenge .fance_wrap.v2 .tit {padding-right: 16px; background-image: url('/html/assets/flag.svg'); background-size: 24px 24px; background-position: right bottom 10px; }






















/* 챌린지 리스트 */
.result_list {margin-top: 40px; }
.result_list li + li {margin-top: 30px; padding-top: 15px; border-top: 1px dashed var(--Color-gray-f1);  }
.result_list li > div {display: grid; grid-template-columns: repeat(3, 1fr); justify-items: stretch; align-items: center; }

/* 정답지 */
.result_list .q_item .en {font-family: var(--Font-En); font-size: 18px; font-weight: var(--Font-w700); letter-spacing: -0.72px; color: var(--Color-dark-17); }
.result_list .q_item .listen {display: block; width: 18px; height: 18px; border-radius: 100%; background-color: var(--Color-gray-f1); background-image:url('/html/assets/volume.svg'); background-repeat: no-repeat; background-size: 10px 10px; background-position: center center; justify-self: end;}

/* 내 풀이 */
.result_list .my_item .en,
.result_list .my_item .ex {font-size: 12px; font-weight: var(--Font-w300); letter-spacing: -0.48px; color: var(--Color-gray-68); }


.result_list .my_item .en {font-family: var(--Font-En);}
.result_list .my_item .ex {font-family: var(--Font-Kr);}

.result_list .my_item.wrong .en,
.result_list .my_item.wrong .ex {color: var(--Color-red-f8);}


/* ploating */
.ploating {position: relative; }

.ploating_more {width: 50px; height: 50px; box-sizing: border-box; border-radius: 100%; background-color: var(--Color-main); box-shadow: 1px 3px 7px 2px var(--Color-main);}


.ploating_list {display: flex; flex-wrap: wrap; gap: 10px 0; }
.ploating_list.hide {display:none; }
.ploating_list li {flex-basis: 100%; text-align: right; font-size: 12px; color: var(--Color-white);  font-weight: var(--Font-w700); }
.ploating_list li {display: flex; flex-wrap: wrap; justify-content: flex-end;align-items: center; gap: 0 8px; }
.ploating_list li:not(li:last-child) {display: none;  }
.ploating_list.show li {display: flex !important; }
.ploating_btn {width: 45px; height: 45px; box-sizing: border-box; border-radius: 100%; background-color: var(--Color-main); background-repeat: no-repeat; background-position: center center; background-size: 20px 20px; box-shadow: 1px 3px 7px 2px var(--Color-main); }
.ploating_btn.delete {background-image: url('/html/assets/trash.svg'); }
.ploating_btn.word {background-image: url('/html/assets/book.svg'); }
.ploating_btn.challenge {background-image: url('/html/assets/history.svg'); }
