@charset "UTF-8";
/* =====================================
  FONT 
======================================*/
/* fmaily */
/* size */
/* weight */
/* =====================================
  COLOR PALETTE
======================================*/
/* =====================================
  STYLE
======================================*/
/* BORDER */
/* SIZE */
/* =====================================
  IMAGE
======================================*/
/* =====================================
  LAYOUT
======================================*/
/* display: grid & flex 컨테이너 */
/* =====================================
  IMAGE 
======================================*/
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.inner20 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
}

.inner40 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
}

#root {
  background-color: #f7f8f9;
  font-weight: 300;
  font-size: 14px;
  font-family: "KIMM";
  color: #171717;
}

#wrapper {
  display: grid;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 8px;
  background-color: #FFFFFF;
}

.header {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
}
.header .title_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0 12px;
  height: 100%;
}
.header .header_back {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #171717;
  -webkit-mask-image: url("/html/assets/header_back.svg");
  mask-image: url("/html/assets/header_back.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: left center;
  mask-position: left center;
  -webkit-mask-size: 7px 10px;
  mask-size: 7px 10px;
}
.header .header_title {
  font-size: 18px;
  font-weight: 300;
}

.container {
  position: relative;
  align-self: stretch;
  justify-self: stretch;
  height: 100vh;
}
.container section:first-child:not(.big_banner) {
  padding-top: 20px;
}