/* =====================================
  FONT 
======================================*/ 

/* fmaily */
$Font-Kr: 'KIMM';
$Font-En: 'SpaceGrotesk';

/* size */
$Font-size40: 40px;
$Font-size18: 18px;
$Font-size16: 16px;
$Font-size14: 14px; 
$Font-size12: 12px; 
$Font-size10: 10px; 

/* weight */
$Font-w300: 300;
$Font-w400: 400;
$Font-w500: 500;
$Font-w600: 600;
$Font-w700: 700;

/* =====================================
  COLOR PALETTE
======================================*/ 
$Color-white: #FFFFFF;
$Color-main: #FA7D38;
$Color-purple-3f: #3F34C0;
$Color-purple-61: #6153FF;
$Color-purple-65: #6558F5;
$Color-red-EC : #EC1E1E;
$Color-red-f8 : #F82D2D;
$Color-red-f6 : #F64848;
$Color-dark-17: #171717;
$Color-dark-24: #242424;
$Color-gray-49 : #494949;
$Color-gray-68: #686868;
$Color-gray-8a: #8A8A8A;
$Color-gray-e2: #E2E2E2;
$Color-gray-f2: #F2F2F2;
$Color-gray-f1: #F1F1F1;





/* =====================================
  STYLE
======================================*/ 

/* BORDER */
$Border-radius80: 80px;
$Border-radius20: 20px;
$Border-raidus6: 6px; 
$Border-raidus5: 5px; 


/* SIZE */
$h60: 60px;
$h50: 50px;
$h40: 40px;





/* =====================================
  IMAGE
======================================*/ 
$assets_icon : "../../assets/icon/";
$assets_common : "../../assets/common/";