@charset "UTF-8";
.body_grape {
  background-color: #3F34C0;
}

.visaullyhiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.indent {
  text-indent: -9999px;
}

.none_scroll {
  overflow: hidden;
  touch-action: none;
}

.text-ellipsis01 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ================================ 
  공통 스타일 변수
================================ */
.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 100%;
  display: none;
}
.modal_wrap > .modal_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 80;
  max-width: 335px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 15px 20px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
.modal_wrap > .modal_cont > .modal_body {
  margin-top: 40px;
  padding-bottom: 50px;
}
.modal_wrap > .dim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_wrap.active {
  display: block;
}

/*  컨피그 
-------------------------------- */
.confirm > .modal_cont {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.confirm > .modal_cont > .modal_head {
  position: relative;
}
.confirm > .modal_cont > .modal_head > h2 {
  display: block;
  width: calc(100% - 10px);
  color: #171717;
  font-weight: 700;
  font-family: "KIMM";
  font-size: 16px;
}
.confirm > .modal_cont > .modal_head > .modal_close {
  position: absolute;
  top: 4px;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #171717;
  -webkit-mask-image: url("../../assets/icon/x.svg");
  mask-image: url("../../assets/icon/x.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-size: contain;
  -webkit-mask-position: right center;
  mask-position: right center;
  background-position: right center;
}
.confirm > .modal_cont > .modal_body {
  text-align: center;
  color: #171717;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 300;
  font-family: "KIMM";
}
.confirm.suggestion_box > .modal_cont {
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #3F34C0;
}
.confirm.suggestion_box > .modal_cont > .modal_head {
  margin-bottom: 20px;
  text-align: left;
}
.confirm.suggestion_box > .modal_cont > .modal_head > h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.confirm.suggestion_box > .modal_cont > .modal_head > .assistant {
  margin-top: 4px;
  color: #fff;
  font-family: "KIMM";
  font-size: 12px;
  font-weight: 300;
}
.confirm.exam_exit > .modal_cont {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #3F34C0;
}
.confirm.exam_exit > .modal_cont > .modal_head > h2 {
  margin-bottom: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.confirm.exam_exit > .modal_cont > .modal_body {
  margin-top: 25px;
  padding-bottom: 15px;
  text-align: left;
}
.confirm.exam_exit > .modal_cont > .modal_body .txt {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}
.confirm.exam_exit > .modal_cont > .modal_body .txt > u {
  text-decoration: underline;
}

/* 버튼 그룹 
================================ */
.btn_group.horzion {
  margin-top: 40px;
}
.btn_group.horzion button + button {
  margin-top: 8px;
}
.btn_group.vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn_group.vertical .btn_small {
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 300;
}
.btn_group.vertical .btn_small.paint {
  min-width: 140px;
  background-color: #FA7D38;
  border-color: #FA7D38;
  color: #fff;
}
.btn_group.vertical .btn_small.paint_light {
  min-width: 140px;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #686868;
}
.btn_group.vertical .btn_small.grape {
  font-size: 16px;
  font-weight: 300;
}
.btn_group.vertical .btn_small.grape.paint {
  min-width: 100px;
  background-color: #6558F5;
  border-color: #6558F5;
  color: #fff;
}
.btn_group.vertical .btn_small.grape.paint_light {
  min-width: 100px;
  background-color: rgba(101, 88, 245, 0.35);
  border-color: rgba(101, 88, 245, 0.35);
  color: #fff;
}
.btn_group.vertical .btn_small.white {
  height: 60px;
  line-height: 58px;
}
.btn_group.vertical .btn_small.white.paint_line {
  min-width: 140px;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.btn_group.vertical .btn_small.white.paint {
  min-width: 140px;
  background-color: #fff;
  border-color: #fff;
  color: #3F34C0;
}

/* 버튼 디자인
================================  */
/* button size */
.btn_large {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 300;
  line-height: 58px;
}

.btn_xsmall {
  padding: 0 10px;
  height: 30px;
  font-size: 12px;
  font-weight: 300;
  line-height: 28px;
}

/* button style */
.btn_exit {
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  text-align: center;
  font-family: "KIMM", Arial, Helvetica, sans-serif;
}
.btn_exit.paint {
  background-color: #FA7D38;
  border-color: #FA7D38;
  color: #fff;
}
.btn_exit.paint > .arrow {
  background-color: #fff;
}
.btn_exit.paint-line {
  border-color: #FA7D38;
  color: #FA7D38;
}
.btn_exit.paint-line > .arrow {
  background-color: #FA7D38;
}
.btn_exit.paint_wh {
  background-color: #fff;
  border-color: #fff;
  color: #FA7D38;
  font-weight: 700;
}
.btn_exit.white.paint_line {
  min-width: 140px;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.btn_exit > .arrow {
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-left: 8px;
  -webkit-mask-image: url("../../assets/icon/arrow.svg");
  mask-image: url("../../assets/icon/arrow.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-size: contain;
  -webkit-mask-position: right center;
  mask-position: right center;
  background-position: right center;
}

/* 배경색이 반대 일 경우 버튼 컬러 */
.body_orange {
  background-color: #FA7D38;
}
.body_orange .btn_large {
  font-weight: 700;
}
.body_orange .btn_large.paint {
  background-color: #fff;
  border-color: #fff;
  color: #FA7D38;
}
.body_orange .btn_large.paint-line {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}/*# sourceMappingURL=btn.css.map */