// 공통 및 인클루드 시킬 소스

$font_kr: "KIMM";
$font_en: "SpaceGrotesk";

$orange: #FA7D38;
$black: #171717;
$error : #EC1E1E;
$grape: #6558F5;
$grape_light: rgba(101,88,245,0.35);
$grape_deep: #3F34C0;
$gray_f1 : #f1f1f1;
$gray_68 : #686868;
$assets_icon : "/assets/icon/";


.body_grape {
  background-color: $grape_deep;
}

.visaullyhiden {position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0,0,0,0); overflow: hidden; }
.indent {text-indent: -9999px; }

.text-ellipsis01 {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

@mixin ellipsis2($line, $w, $h) {
  overflow: hiddn;
  display: block;
  display: -webkit-box; 
  -webkit-line-clamp: $line; 
  -webkit-box-orient: vertical;
  width: $w; 
  height: $h;
  text-overflow: ellipsis;
  white-space: normal; 
  word-wrap: break-word;
}

