// 공통 및 인클루드 시킬 소스

$font_kr: "KIMM";
$font_en: "SpaceGrotesk";

$orange: #FA7D38;
$black: #171717;
$btn-exit-arrow : "/assets/icon/";


//팝업 버튼 스타일
@mixin popup_btn($width, $bg, $border, $color){
  min-width: $width;
  background-color: $bg;
  border-color: $border;
  color: $color;
}
