@charset "UTF-8";
.body_grape {
  background-color: #3F34C0;
}

.visaullyhiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.indent {
  text-indent: -9999px;
}

.none_scroll {
  overflow: hidden;
  touch-action: none;
}

.text_ellipsis01 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_ellipsis02 {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  height: auto;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}

/* ================================ 
  폼 영역 
================================ */
/* ================================ 
  레이아웃 변수
================================ */
/* ================================ 
  아이템 리스트
================================ */