@import "common.scss";
@import "layout.scss";

/* input
================================ */
input{
  &::placeholder {
    font-family: "NanumSquare";
    color: #8A8A8A !important; opacity: 1;
  }
  &:-webkit-input-placeholder,
  &:-ms-input-placeholder, 
  &:-mos-input-placeholder {
    color: #8A8A8A;
  }
  &:read-only, &.readonly,
  &:disabled, &.disabled {
    background-color: #eee !important; color: #8A8A8A !important; outline: none;
  }
  &:placeholder-shown {
    text-overflow: ellipsis; 
  }
}
// password 텍스트 글자 안보여서 추가
input[type=password]{
	font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
}
input[type=password]::placeholder {
	font-family: $font_kr; 
}




@mixin label {
  display: block;
  margin-bottom: 4px;
  color: $black;
  font: {
    size: 14px;
    weight: 300;
    family: $font_kr;
  }
}
@mixin input{
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 15px; 
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  background-color: #fff;
  color: $black;
  font: {
    size: 14px;
    weight: 300;
    family: $font_kr;
  }
    
  }

/* form_dl */ 
.form_dl {
  + .form_dl {
    margin-top: 20px;
  }
  .form_label {
    @include label;
  }
  .form_input {
    @include input;
    &:hover {
      border-color: #FA7D38;
    }
  }
}

.form_half {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  > dl {
    width: calc(50% - 8px);
  }
  > span {
    width: 20px; 
    margin-top: 18px;
    text-align: center;
    color: $black;
    font: {
      size: 14px;
    }
  }
  &.mark dl {
    width: calc((100% - 20px)/ 2);
  }
}


/* select
================================ */
@mixin select {
  width: 100%; 
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background-color: #fff;

}

@mixin slect_item {
  width: 100%; 
  height: 18px;
  margin-bottom: 10px;
  color: $black;
  font: {
    size: 14px;
    weight: 300;
    family: $font_en;
  }
  &:hover,
  &:focus {
    color: $orange;
  } 
}

.select_group {
  position: relative;
  @include input;
  font-family: "NanumSquare";
  color: #8A8A8A; 

  &:focus {
    border-color: $orange;
    > .select_list {
      display: block;
    }
  }
  > .select_list {
    display: none;
    height: 164px; 
    overflow-x: none;
    overflow-y: auto;
    @include select;
    @include position(
      absolute,
      $t :  54px,
      $l : 0,
      $index : 5,
    );
    > li {
      @include slect_item;
    }
  }
}

#email_input {
  margin-top: 4px;
}

/*  check box
================================ */
