@import "common.scss";
@import "layout.scss";

/* input
================================ */
input{
  &::placeholder {
    font-family: "NanumSquare";
    color: #8A8A8A !important; opacity: 1;
  }
  &:-webkit-input-placeholder,
  &:-ms-input-placeholder, 
  &:-mos-input-placeholder {
    color: #8A8A8A;
  }
  &:read-only, &.readonly,
  &:disabled, &.disabled {
    background-color: $gray_f1 !important; color: $gray_68 !important; outline: none;
  }
  &:placeholder-shown {
    text-overflow: ellipsis; 
  }
}
// password 텍스트 글자 안보여서 추가
input[type=password]{
	font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
}
input[type=password]::placeholder {
	font-family: $font_kr; 
}




@mixin label {
  display: block;
  margin-bottom: 4px;
  color: $black;
  font: {
    size: 14px;
    weight: 300;
    family: $font_kr;
  }
}
@mixin input{
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 15px; 
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  background-color: #fff;
  color: $black;
  font: {
    size: 14px;
    weight: 300;
    family: $font_kr;
  }
    
  }
@mixin form_btn {
  display: block;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #494949;
  background-color: #494949;
  color: #fff; 
  line-height: 48px;
  text-align: center;
  font: {
    family: $font_kr;
    size: 14px;
    weight: 300;
  }
}

/* form_dl */ 
.form_dl {
  + .form_dl {
    margin-top: 20px;
  }
  .form_label {
    @include label;
  }
  .form_input {
    @include input;
    &:hover {
      border-color: #FA7D38;
    }
  }
}

.form_half {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  > dl {
    width: calc(50% - 8px);
  }
  > span {
    width: 20px; 
    margin-top: 18px;
    text-align: center;
    color: $black;
    font: {
      size: 14px;
    }
  }
  &.mark dl {
    width: calc((100% - 20px)/ 2);
  }
}

.form_email {
  .form_input {
    font-family: $font_en;
  }
  .form_input::placeholder {
    font-family: $font_kr;
  }
  & #email_input {
    flex-basis: 100%;
    margin-top: 4px;
  }
  + .security_group {
    margin-top: 4px;
  }
}

/* select
================================ */
@mixin select {
  width: 100%; 
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background-color: #fff;
}

@mixin slect_item {
  width: 100%; 
  height: 18px;
  margin-bottom: 10px;
  color: $black;
  font: {
    size: 14px;
    weight: 300;
    family: $font_en;
  }
  &:hover,
  &:focus {
    color: $orange;
  } 
}

.select_group {
  position: relative;

  .select_btn {
    font-family: $font_kr;
    color: #8A8A8A;
    @include input;

    &:focus{
      border-color: $orange;
      &:focus + .select_list {
        display: block;
      }
    }
  }
  .select_list {
    display: none;
    height: 164px; 
    overflow-x: hidden;
    overflow-y: auto;
    font-family: $font_en;
    @include select;
    @include position(
      absolute,
      $t :  54px,
      $l : 0,
      $index : 5,
    );

    .option_btn{
      @include slect_item;
    }
  }
}

@mixin security {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  > .form_input {
    @include input;
    width: 120px;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: $font_en;
    &::placeholder {
      font-family: $font_kr;
    }
  }
  > .form_btn {
    @include form_btn;
    width: calc(100% - 130px); 
  }
}
@mixin guidetxt {
  color: $black;
  line-height: 18px;
  font: {
    size: 12px;
    weight: 300;
    family: $font_kr;
  }
  &.error {
    color: $error;
  }
}

.security_group {
  @include security;
  > .guide_txt {
    @include guidetxt;
    text-align: right;
    flex-basis: 100%;
    align-self: flex-end;
  }
}

/*  check box
================================ */
