@charset "UTF-8";
.body_grape {
  background-color: #3F34C0;
}

.visaullyhiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.indent {
  text-indent: -9999px;
}

.body_grape {
  background-color: #3F34C0;
}

.visaullyhiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.indent {
  text-indent: -9999px;
}

/* ================================ 
  공통 스타일 변수
================================ */
.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 100%;
  display: none;
}
.modal_wrap.active {
  display: block;
}
.modal_wrap > .modal_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 80;
  max-width: 335px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 15px 20px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
.modal_wrap > .modal_cont > .modal_body {
  margin-top: 40px;
  padding-bottom: 50px;
}
.modal_wrap > .dim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/*  컨피그 
-------------------------------- */
.confirm > .modal_cont {
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #fff;
}
.confirm > .modal_cont > .modal_head {
  position: relative;
}
.confirm > .modal_cont > .modal_head > h2 {
  display: block;
  width: calc(100% - 10px);
  color: #171717;
  font-weight: 700;
  font-family: "KIMM";
  font-size: 16px;
}
.confirm > .modal_cont > .modal_head > .modal_close {
  position: absolute;
  top: 4px;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #171717;
  -webkit-mask-image: url("/assets/icon/x.svg");
  mask-image: url("/assets/icon/x.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-size: contain;
  -webkit-mask-position: right center;
  mask-position: right center;
  background-position: right center;
}
.confirm > .modal_cont > .modal_body {
  text-align: center;
  color: #171717;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 300;
  font-family: "KIMM";
}
.confirm > .modal_cont > .modal_foot > button {
  margin: 0 auto;
}

/* input
================================ */
input::-moz-placeholder {
  font-family: "NanumSquare";
  color: #8A8A8A !important;
  opacity: 1;
}
input::placeholder {
  font-family: "NanumSquare";
  color: #8A8A8A !important;
  opacity: 1;
}
input:-webkit-input-placeholder, input:-ms-input-placeholder, input:-mos-input-placeholder {
  color: #8A8A8A;
}
input:-moz-read-only {
  background-color: #f1f1f1 !important;
  color: #686868 !important;
  outline: none;
}
input:read-only, input.readonly, input:disabled, input.disabled {
  background-color: #f1f1f1 !important;
  color: #686868 !important;
  outline: none;
}
input:-moz-placeholder-shown {
  text-overflow: ellipsis;
}
input:placeholder-shown {
  text-overflow: ellipsis;
}

input[type=password] {
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
}

input[type=password]::-moz-placeholder {
  font-family: "KIMM";
}

input[type=password]::placeholder {
  font-family: "KIMM";
}

/* form_dl */
.form_dl + .form_dl {
  margin-top: 20px;
}
.form_dl .form_label {
  display: block;
  margin-bottom: 4px;
  color: #171717;
  font-size: 14px;
  font-weight: 300;
  font-family: "KIMM";
}
.form_dl .form_input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  background-color: #fff;
  color: #171717;
  font-size: 14px;
  font-weight: 300;
  font-family: "KIMM";
}
.form_dl .form_input:hover {
  border-color: #FA7D38;
}

.form_half {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.form_half > dl {
  width: calc(50% - 8px);
}
.form_half > span {
  width: 20px;
  margin-top: 18px;
  text-align: center;
  color: #171717;
  font-size: 14px;
}
.form_half.mark dl {
  width: calc((100% - 20px) / 2);
}

.form_email .form_input {
  font-family: "SpaceGrotesk";
}
.form_email .form_input::-moz-placeholder {
  font-family: "KIMM";
}
.form_email .form_input::placeholder {
  font-family: "KIMM";
}
.form_email #email_input {
  flex-basis: 100%;
  margin-top: 4px;
}
.form_email + .security_group {
  margin-top: 4px;
}

/* select
================================ */
.select_group {
  position: relative;
}
.select_group .select_btn {
  font-family: "KIMM";
  color: #8A8A8A;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  background-color: #fff;
  color: #171717;
  font-size: 14px;
  font-weight: 300;
  font-family: "KIMM";
}
.select_group .select_btn:focus {
  border-color: #FA7D38;
}
.select_group .select_btn:focus:focus + .select_list {
  display: block;
}
.select_group .select_list {
  display: none;
  height: 164px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "SpaceGrotesk";
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 54px;
  left: 0;
  z-index: 5;
}
.select_group .select_list .option_btn {
  width: 100%;
  height: 18px;
  margin-bottom: 10px;
  color: #171717;
  font-size: 14px;
  font-weight: 300;
  font-family: "SpaceGrotesk";
}
.select_group .select_list .option_btn:hover, .select_group .select_list .option_btn:focus {
  color: #FA7D38;
}

.security_group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.security_group > .form_input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  background-color: #fff;
  color: #171717;
  font-size: 14px;
  font-weight: 300;
  font-family: "KIMM";
  width: 120px;
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "SpaceGrotesk";
}
.security_group > .form_input::-moz-placeholder {
  font-family: "KIMM";
}
.security_group > .form_input::placeholder {
  font-family: "KIMM";
}
.security_group > .form_btn {
  display: block;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #494949;
  background-color: #494949;
  color: #fff;
  line-height: 48px;
  text-align: center;
  font-family: "KIMM";
  font-size: 14px;
  font-weight: 300;
  width: calc(100% - 130px);
}
.security_group > .guide_txt {
  color: #171717;
  line-height: 18px;
  font-size: 12px;
  font-weight: 300;
  font-family: "KIMM";
  text-align: right;
  flex-basis: 100%;
  align-self: flex-end;
}
.security_group > .guide_txt.error {
  color: #EC1E1E;
}

/*  check box
================================ */