@import "common.scss";

/* ================================ 
  공통 스타일 변수
================================ */
// 포지션  
@mixin position(
  $p: absolute, 
  $t: null, 
  $b: null, 
  $l: null,
  $r: null,
  $index: null
){
  position: $p;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
  z-index: $index;
}

//팝업 버튼 스타일
@mixin modal_cont_style($pd, $radius, $bg ){
  padding: $pd;
  border-radius: $radius;
  background-color: $bg;
}


//모달 공통 영역 
@mixin modal{
  @include position(
    fixed, 
    $t: 0, 
    $l: 0, 
    $index: 60
  );
  width: 100%;
  height: 100%;
}

@mixin modal_cont {
  @include position(
    absolute, 
    $t: 50%, 
    $l: 50%, 
    $index: 80
  );
  max-width: 335px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 15px 20px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
@mixin dim {
  @include position(
    absolute,
    $t: 0, 
    $l: 0, 
    $index: 70
  ); 
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
} 

.modal_wrap {
  @include modal;
  > .modal_cont {
    @include modal_cont;
    > .modal_body {
      margin-top: 40px;
      padding-bottom: 50px;
    }
  }
  > .dim {
    @include dim;
  }
  &.active {
    display: block;
  }  
  display: none;
}

/*  컨피그 
-------------------------------- */
.confirm {
  > .modal_cont {
    @include modal_cont_style(
    $pd : 15px 20px,
    $radius: 5px,
    $bg : #fff,
    );
    > .modal_head {
      position: relative;
      > h2 {
        display: block;
        width: calc(100% - 10px);
        color: $black;
        font: {
          weight: 700;
          family: $font_kr;
          size: 16px;
        }
      }
      > .modal_close {
        @include position(
          absolute,
          $t: 4px, 
          $r: 0,
        );
        width: 10px;
        height: 10px;
        background-color: $black;
        -webkit-mask-image: url($assets_icon + "x.svg");
        mask-image: url($assets_icon + "x.svg");
      
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-repeat: no-repeat;
      
        -webkit-mask-size: contain;
        mask-size: contain;
        background-size: contain;
      
        -webkit-mask-position: right center;
        mask-position: right center;
        background-position: right center;
  
      }
    }
    > .modal_body {
      text-align: center;
      color: $black;
      line-height: 1.4;
      font: {
        size: 14px;
        weight: 300;
        family: $font_kr;
      }
    }
    > .modal_foot {
      > button {
        margin: 0 auto;
      }
    }
  }
  &.suggestion_box {
    > .modal_cont {
      @include modal_cont_style(
        $pd: 20px 40px 20px 15px, 
        $radius: 20px,
        $bg: $grape_deep
      );
      > .modal_head {
        text-align: left; 
        > h2 {
          color: #fff;
          font: {
            size: 18px;
            weight: 700;
          }
        }
        > .assistant {
          color: #fff;
          font: {
            size: 12px;
            weight: 300;
          }
        }
      }
      > .modal_foot {
        margin-top: 20px;
      }
    }
  }
  &.exam_exit {
    > .modal_cont {
      @include modal_cont_style(
        $pd: 20px 40px 20px 30px, 
        $radius: 20px,
        $bg: $grape_deep
      );
      > .modal_head {
        > h2 {
          margin-bottom: 25px;
          color: #fff;
          font: {
            size: 18px;
            weight: 700;
          }
        }
      }
      > .modal_body{
        text-align: left; 
        .txt {
          color: #fff;
          font: {
            size: 12px;
            weight: 300;
          }
          > u {
            text-decoration: underline;
          }
        }
        
      } 
    }
  }
}



