@import "common.scss";

.logo {
  display: block;
  width: 50px;
  height: 26px;
  background: url($assets_common + "logo.png") no-repeat left center;
  background-size: contain;
}

.entry_base {
  @include item;
  gap: 0;
  margin-top : -50px;
  margin-bottom: 10px;
  .dubuck {
    width: 160px;
    height: 160px;
    background: url($assets_common + "dubuck.png") no-repeat right top;
    background-size: contain;
  }
  .attendance {
    position: relative;
    width: 160px;
    height: 160px;
    padding: 40px 20px 0;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #242424;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      @include position(
        $t: -23px,
        $l: 0
      );
      background: url($assets_icon + "attendance_hd.png") no-repeat top center; 
      background-size: 100% auto;
    }
    .tit {
      color: #fff;
      font: {
        size: 13px;
        weight: 300;
        family: $font_kr;
      }
    }
    .count {
      display: block;
      margin-top: 25px;
      color: #fff;
      font: {
        size: 32px;
        weight: 700;
        family: $font_kr;
      }
    }
  }
}

.modal_wrap {
  @include modal;
  > .modal_cont {
    @include modal_cont;
    > .modal_body {
      margin-top: 40px;
      padding-bottom: 50px;
    }
  }
  > .dim {
    @include dim;
  }
  &.active {
    display: block;
  }  
  display: none;
}

/*  컨피그 
-------------------------------- */
.confirm {
  > .modal_cont {
    @include modal_cont_style(
    $pd_t : 15px,
    $pd_b : 15px,
    $pd_lt: 20px,
    $pd_rt: 20px,
    $radius: 5px,
    $bg : #fff,
    );
    > .modal_head {
      position: relative;
      > h2 {
        display: block;
        color: $black;
        font: {
          weight: 700;
          family: $font_kr;
          size: 16px;
        }
      }
      > .modal_close {
        @include position(
          absolute,
          $t: 4px, 
          $r: 0,
        );
        width: 10px;
        height: 10px;
        background-color: $black;
        -webkit-mask-image: url($assets_icon + "x.svg");
        mask-image: url($assets_icon + "x.svg");
      
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-repeat: no-repeat;
      
        -webkit-mask-size: contain;
        mask-size: contain;
        background-size: contain;
      
        -webkit-mask-position: right center;
        mask-position: right center;
        background-position: right center;
        & h2 {
          width: calc(100% - 10px);
        }
      }
    }
    > .modal_body {
      text-align: center;
      color: $black;
      line-height: 1.4;
      font: {
        size: 14px;
        weight: 300;
        family: $font_kr;
      }
    }
  }
  &.suggestion_box {
    > .modal_cont {
      @include modal_cont_style(
        $pd_t : 40px,
        $pd_b : 15px,
        $pd_lt: 20px,
        $pd_rt: 20px,
        $radius: 20px,
        $bg: $grape_deep
      );
      > .modal_head {
        margin-bottom: 20px;
        text-align: left; 
        > h2 {
          color: #fff;
          font: {
            size: 18px;
            weight: 700;
          }
        }
        > .assistant {
          margin-top: 4px;
          color: #fff;
          font: {
            family: $font_kr;
            size: 12px;
            weight: 300;
          }
        }
      }
    }
  }
  &.exam_exit {
    > .modal_cont {
      @include modal_cont_style(
        $pd_t : 40px,
        $pd_b : 30px,
        $pd_lt: 20px,
        $pd_rt: 20px,
        $radius: 20px,
        $bg: $grape_deep
      );
      > .modal_head {
        > h2 {
          margin-bottom: 25px;
          color: #fff;
          font: {
            size: 18px;
            weight: 700;
          }
        }
      }
      > .modal_body{
        margin-top: 25px;
        padding-bottom: 15px;
        text-align: left; 
        .txt {
          color: #fff;
          font: {
            size: 12px;
            weight: 300;
          }
          + .txt {
            margin-top: 20px;
          }
          > u {
            text-decoration: underline;
          }
        }
        
      } 
    }
  }
}



